* {
    font-family: Arial Narrow;
    margin: 0;
    padding: 10px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
}

img {
    width: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

table tr th {
    background-color: blue;
    color: white;
}

.disciplina {
    font-weight: bold;
}

table col:nth-child(odd) {
    background-color: lightblue;
}

table col:nth-child(even) {
    background-color: rgb(212, 175, 230);
}

/* table tr th, table tr td {
    border: 1px solid black;
} */

body h3 {
    text-align: center;
    margin-bottom: 1%;
}

/*table, td, th {
    border-collapse: collapse; tirar o espaço entre as células
    border-spacing: 5px; adicionar espaçamento entre as bordas
    box-shadow: #272727 0px 0px 10px;
}*/

td:hover {
    background-color: green !important;
}

th, td {
    border: lightblue solid 1px;
    border-radius: 3px;
}